html {

}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: "Helvetica Neue";
}

.header{
	width: 100%;
	height: 80px;
	background-color: #37244f;
	position: fixed;
	z-index: 9999999;
}

.logo{
	background-image: url(assets/logo.png);
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	margin: 10px;
	margin-left: 40px;
}

.sections{
	float: right;
	margin-top: -70px;
}

.title{
	font-size: 14px;
	font-family: "Helvetica Neue";
	color: #fff;
	margin-right: 40px;
	padding-bottom: 15px;
	text-decoration: none;
}

.title:hover {
	border-bottom:2px solid #fff;
	cursor: auto;
}

.loginLink:hover > .loginDropdown{
	display: none;
}

.loginDropdown{
	background-color: #3d3143;
	border-radius: 3px;
	float: right;
	padding: 15px;
	margin: 130px;
	display: block;
	margin-top: -30px;
	z-index: 999;
}

.emailLabel{
	font-family: "Helvetica Neue";
	margin-bottom: 10px;
	margin-top: 15px;
	font-size: 12px;
	color: #fff;
}

.emailInput{
	border-radius: 3px;
	opacity: .8;
	width: 200px;
	border:	none;
	height: 30px;
}

.logIn {
	background-color: #98bc1b;
	padding: 10px;
	color: #3d3143;
	font-family: "Helvetica Neue";
	font-size: 12px;
	border:none;
	border-radius: 3px;
	height: 30px;
	width: 80px;
	margin-top: 20px;
}

.or{
	font-family: "Helvetica Neue";
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	font-size: 12px;
	color: #fff;
	margin-top: -20px;
    position: relative;
    margin-left: 98px;
}

.register{
	background-color: #a20072;
	padding: 10px;
	color: #fff;
	font-family: "Helvetica Neue";
	font-size: 12px;
	border:none;
	border-radius: 3px;
	height: 30px;
	width: 80px;
	position: relative;
   float: right;
   margin-top: -24px;
}

#topBanner {
	background-image: url(assets/goldbanner.png);
	height: 800px;
	width: 100%;
	margin-top: 100px;
	background-repeat: no-repeat;
}

#handPhone{
	background-image: url(assets/hand.png);
	height: 100%;
	width: 100%;
	margin-top: -100px;
	background-repeat: no-repeat;
	position: relative;
    top: 124px;
    left: 15%;
}

#headline{
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 30px;
  font-weight: 400;
  text-shadow: 1px 1px 3px #666666;
  position: relative;
  top: -550px;
  left: 45%;
  letter-spacing: 1px;
}

#subHeadline{
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 24px;
  font-weight: 200;
  text-shadow: 1px 1px 3px #666666;
  position: relative;
  top: -550px;
  left: 45%;
  letter-spacing: 1px;
  margin-top: 20px;
}

#AuctionBlocks{
	background-color: #fff;
	height: 800px;
	margin: auto;
	width: 800px;
}

#liveAuctions{
	width: 100%;
	height: 300px;
	border: 1px solid #e7e7e7;
}

.auctionHeader{
	font-family: "Helvetica Neue";
	font-size: 18px;
	font-weight: normal;
	color: #000;
	margin-left: 40px;
	margin-top: 40px;
}

.auctionSubheader{
	color: #a80077;
	text-decoration: underline;
	font-family: "Helvetica Neue";
	font-size: 14px;
	margin-left: 40px;

}

.lineBreak{
	border-bottom: 1px solid #e7e7e7;
	width: 60px;
	margin-top: 10px;
	margin-left: 40px;
}

.auctionButton{
	background-color: #a80077;
	color: #fff;
	box-shadow: 1px 1px 3px #e7e7e7;
	padding: 15px;
	margin-top: 20px;
    width: 80px;
    height: 15px;
    text-align: center;
    font-family: "Helvetica Neue";
    border-radius: 3px;
    margin-left: 40px;
}

#dancerLogo{
	width: 50%;
	float: right;
	background-image: url(assets/dancer.png);
	height: 100%;
	background-color: #37244f;
	background-repeat: no-repeat;
	position: relative;
    top: -154px;
    background-position: 65px 30px;
}

.greenRibbon{
	background-color: #8db502;
	color: #fff;
	width: 30px;
	height: 15px;
	position: relative;
	top: -150px;
}

#upcomingAuctions{
	width: 100%;
	height: 300px;
	border: 1px solid #e7e7e7;
	margin-top: 60px;
}

#crowdPic{
	background-image: url(assets/crowd.png);
	height: 100%;
	width: 50%;
	float: left;
	background-repeat: no-repeat;
	position: relative;

}

#upcomingText {
	width: 50%;
	float: right;
}

#rules{
	border-top: 2px solid #e7e7e7;
	border-bottom: 2px solid #e7e7e7;
	height: 300px;
	margin: auto;
	width: 800px;
	margin-bottom: 100px;
}

#penny{
	color: #4d1c90;
	font-size: 28px;
	margin: 20px;
	font-family: "Helvetica Neue";
	text-align: center;
}

#bids{
	color: #4d1c90;
	font-size: 30px;
	font-weight: bold;
	margin: 20px;
	font-family: "Helvetica Neue";
	text-align: center;
}

#timer{
	background-color: #e7e7e7;
	color: #666666;
	font-family: "Helvetica Neue";
	font-size: 14px;
	padding: 15px;
	text-align: center;
	width: 60%;
	margin: auto;
}

#win{
	color: #e5ab0b;
	font-size: 36px;
	font-weight: bold;
	font-family: "Helvetica Neue";
	margin: 20px;
	text-align: center;
}

.howitworksButton{
	background-color: #84a902;
	color: #fff;
	box-shadow: 1px 1px 3px #e7e7e7;
	padding: 15px;
    left: 44%;
    position: relative;
    top: -50px;
    border-radius: 3px;
}

#causeBanner{
	width: 100%;
	background-image: url(assets/purplebanner.png);
	height: 800px;
	width: 100%;
	background-repeat: no-repeat;
}

#causeHeadline{
	font-size: 40px;
	color: #fff;
	font-family: "Helvetica Neue";
	position: relative;
    padding-top: 115px;
    left: 20%;
    font-weight: 100;

}

#noFees{
	font-size: 30px;
	color: #fff;
	font-family: "Helvetica Neue";
	position: relative;
	left: 20%;
	margin-top: 20px;
}

.headlineBreak{
	width: 80px;
	border-top: 2px solid #fff;
	font-size: 34px;
	color: #fff;
	padding-top: 20px;
	position: relative;
	left: 20%;
	margin-top: 30px;
}

#more {
	color: #fff;
	text-decoration: none;
	position: relative;
	left: 20%;
	margin-top: 10px;
}

#giftBanner{
	padding-top: 60px;
	width: 100%;
	height: 400px;
}

#helpHeader{
	font-family: "Helvetica Neue";
	font-weight: bold;
	color: #000000;
	font-size: 40px;
	position: relative;
	left: 20%;
}

#helpSubheader{
	font-size: 30px;
	color: #e7e7e7;
	font-family: "Helvetica Neue";
	font-weight: normal;
	position: relative;
	left: 20%;
}

.helpButton{
	background-color: #84a902;
	color: #fff;
	box-shadow: 1px 1px 3px #e7e7e7;
	padding: 15px;
	position: relative;
	left: 20%;
	top: 80px;
}

#giftPic {
	background-image: url(assets/gift.png);
	height: 500px;
	width: 500px;
	background-repeat: no-repeat;
	background-size: 100%;
	float: right;
    right: 300px;
    bottom: 222px;
    position: relative;
}

.footer{
	background-color: #3d3143;
	padding-top: 30px;
	height: 150px;
	width: 100%;
}

.footerLinks{

}

.footerLink{
	font-size: 12px;
	color: #fff;
	font-family: "Helvetica Neue";
	padding-bottom: 10px;
}

.emailButton{
 	background-image: url();
 	height: 100%;
	width: 100%;
}

.socialIcons{
	margin: 10px;
}

.facebook{
 	background-image: url();
 	height: 100%;
	width: 100%;
}

.twitter{
 	background-image: url();
 	height: 100%;
	width: 100%;
}

.linkedin{
 	background-image: url();
 	height: 100%;
	width: 100%;
}

.bottomBar{
	width: 100%;
	height: 60px;
	background-color: #342939;
}

.copyright{
	font-size: 10px;
	color: #fff;
	font-family: "Helvetica Neue";
	padding-bottom: 10px;
}